@page
@using SnakeApp.Model
@using System.Text.Json
@using SnakeGame.Infrastructure.Entities
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Snake game</h1>
    <p>Move with WASD</p>
    <aside>
        @foreach(Gamemode gamemode in Model.Gamemodes)
        {
            <button type="button" title="@gamemode.Description" class="gamemode-button btn" value="@JsonSerializer.Serialize(gamemode)"><h2>@gamemode.Name</h2></button><br/>
        }
    </aside>
    <aside class="left">
        <h2>Leaderboard</h2>
        <ol>
            @foreach(Score score in Model.TopScores)
            {
                <li>@($"{score.Name} - {score.Value}")</li>
            }
        </ol>
    </aside>
    <div id="game">
        <div id="game-grid"></div>
    </div>
    <p id="game-message">Press one of the keys to begin.</p>
    <dialog id="scoreDialog">
        <div>
            <p>Would you like to submit your score?</p>
            <label>
                Your name:
                <input id="scoreDialogNameInput" type="text" name="name"/>
            </label>
            <input id="scoreDialogSubmit" type="submit" value="Submit" autofocus/>
        </div>
    </dialog>
</div>

<script type="module">import * as index from "./ts/Index.js"</script>

