@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Snake game</h1>
    <p>Move with WASD</p>
    <div id="game">
        <div id="game-grid"></div>
    </div>
    <p id="game-message">Press one of the keys to begin.</p>
</div>
