@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Snake game</h1>
    <p>Press "Start" to begin</p>
    <input type="button" value="Start" id="game-start-button" onclick="generateBoard(document.getElementById('game-grid'))" />
    <div id="game">
        <div id="game-grid"></div>
    </div>
</div>
