@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Snake game - work in progress</h1>
    <p>Move with WASD</p>
    <div id="game">
        <div id="game-grid"></div>
    </div>
    <p id="game-message">Press "Start" to begin</p>
    <input type="button" value="Start" id="game-start-button" onclick="startGame(document.getElementById('game-grid'), 10, document.getElementById('game-message'))" />
</div>
